In [41]:
import pandas as pd
import regex as re

CORRESPONDANCES = {'W': '-', 'E': '+', 'S': '-', 'N': '+'}

def coord_to_float(coordinate: str) -> float:
    pattern = re.compile(r"([\d]+)Â°([\d]+)?'?(\d+(?:\.\d+)?)?'' ?([NSEW])")
    match = re.search(pattern, coordinate)
    gra, min, sec = float(match[1]), float(match[2] or 0), float(match[3] or 0)
    min += sec / 60
    gra += min / 60
    dir = match[4]
    gra = float(CORRESPONDANCES[dir] + str(gra))
    return gra


df = pd.read_csv('direcciones.csv', encoding='latin1', sep=';')
df = df[['VIA_CLASE', 'VIA_PAR', 'VIA_NOMBRE', 'NUMERO', 'LATITUD', 'LONGITUD']]

df['FLOAT_LATITUD'] = df['LATITUD'].apply(coord_to_float)
df['FLOAT_LONGITUD'] = df['LONGITUD'].apply(coord_to_float)

def longitud(chain: str) -> int:
    return len(chain.split(' '))

df['len'] = df['VIA_NOMBRE'].apply(longitud)
df['len'].value_counts().reset_index()

   len  count
0    1  93527
1    2  63766
2    3  37761
3    4  13931
4    5   3792
5    6    364
6    7     95

In [43]:
df['VIA_PAR'] = df['VIA_PAR'].str.strip()
df['VIA_CLASE'] = df['VIA_CLASE'].str.strip()
df['VIA_PAR'].value_counts().reset_index()

  VIA_PAR   count
0      DE  131807
1     DEL   39910
2   DE LA   24918
3  DE LOS    6229
4  DE LAS    5209
5    A LA      30
6      AL       8